.container
{
    display: grid;
    place-items: center;
}
.main
{
    background-color: #705ca2;
    width: 400px;
    height: 540px;
    border: 2px solid #392669;
    border-radius: 5px;
}
form{
    height: 400px;
}
form label{
    color: white;
}
.form-input
{
    margin-top: 20px;
    font-size: 20px;
    margin-left: 50px;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
input
{
    width: 80%;
    height: 30px;
    border-radius: 3px;
}
textarea
{
    width: 80%;
    height: 80px;
    border-radius: 3px;
}
.form-input button
{
    width: 130px;
    height: 42px;
    font-size: 19px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
}
.form-input button:hover
{
    background-color: aliceblue;
    transform:scale(1.1,1.1);
}
h1{
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
}
body{
    background: rgb(238,174,202);
background: linear-gradient(90deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}
::placeholder
{
    font-size: 16px;
    padding-left: 7px;
}